.page-title,
.contact-block {
  margin-bottom: 20px;
}

.page-title h1,
.contact-info h2,
.contact-manager h2 {
  font-size: 24px;
  color: #333;
}

.contact-info p,
.contact-manager p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-block {
  display: table;
  width: 100%;
}

.contact-info,
.contact-manager {
  display: table-cell;
  width: 50%;
  padding: 0 10px;
  vertical-align: top;
}
